@import "tailwindcss";

/* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,26,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --background: #070707;
  --foreground: #ffff;
  --accent: #ff2a70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --project-grid-cols: [full-start] minmax(1rem, 1fr) [content-start] minmax(0, 1200px) [content-end] minmax(1rem, 1fr) [full-end];
  --content-col: content;
  --full-col: full;
  /* font sizes */

  --step--2: clamp(0.5625rem, 0.5rem + 0.2841vw, 0.75rem);
  --step--1: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem);
  --step-0: clamp(1rem, 0.8864rem + 0.5682vw, 1.3125rem);
  --step-1: clamp(1.125rem, 0.9773rem + 0.6818vw, 1.5625rem);
  --step-2: clamp(1.125rem, 0.9205rem + 0.9091vw, 1.125rem);
  --step-3: clamp(1.5rem, 1.2277rem + 1.1364vw, 1.5rem);
  --step-4: clamp(2.375rem, 1.9545rem + 1.8182vw, 2.375rem);
  --step-5: clamp(2.75rem, 2.2727rem + 2.2727vw, 2.75rem);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Ubuntu, sans-serif;
}



/* midlertidig fix */
.project-grid {
  grid-template-columns: var(--project-grid-cols);

  > * {
    grid-column: content;
  }
}
