:root {
  --step--2: clamp(0.8125rem, 0.5rem + 1vw, 4rem);
  --step--1: clamp(0.75rem, 0.6591rem + 0.4545vw, 1rem);
  --step-0: clamp(1rem, 0.8rem + 0.5682vw, 1.25rem);
  --step-1: clamp(1.125rem, 0.9773rem + 0.6818vw, 1.5625rem);
  --step-2: clamp(1.125rem, 0.9205rem + 0.9091vw, 1.125rem);
  --step-3: clamp(1.5rem, 1.2277rem + 1.1364vw, 1.5rem);
  --step-4: clamp(2.375rem, 1.9545rem + 1.8182vw, 2.375rem);
  --step-5: clamp(2.75rem, 2.2727rem + 2.2727vw, 2.75rem);
}

.white {
  color: var(--foreground);
}

.pink {
  color: var(--accent);
}

.gradient-underline-sm {
  position: relative;
  padding-bottom: 0.8rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--color-accent),
      transparent
    );
  }
}

.gradient-underline-lg {
  --line-width: clamp(8rem, 20vw, 13rem);
  position: relative;
  padding-bottom: 8px;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    left: calc(50% - var(--line-width) / 2);
    bottom: 0;
    height: 2px;
    width: var(--line-width);
    background-image: linear-gradient(
      to right,
      transparent,
      var(--color-accent),
      transparent
    );
  }
}
