.white {
  color: var(--foreground);
}

.pink {
  color: var(--accent);
}

.gradient-underline-sm {
  position: relative;
  padding-bottom: 0.8rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, var(--color-accent), transparent);
  }
}

.gradient-underline-lg {
  position: relative;
  padding-bottom: 1px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, var(--color-accent), transparent);
  }
}
