.white {
  color: var(--foreground);
}

.pink {
  color: var(--accent);
}

.gradient-underline-sm {
  position: relative;
  padding-bottom: 0.8rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, var(--color-accent), transparent);
  }
}

.gradient-underline-lg {
  --line-width: clamp(8rem, 20vw, 13rem);
  position: relative;
  padding-bottom: 8px;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    left: calc(50vw - var(--line-width) / 2);
    bottom: 0;
    height: 2px;
    width: var(--line-width);
    background-image: linear-gradient(to right, transparent, var(--color-accent), transparent);
  }
}
